.title {
  color: #47525e;
  font-size: 20px;
  font-weight: 700;
  line-height: 62px;
  text-align: center;
  width: 800px;
  margin-bottom: 50px;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border-radius:5px !important;

}

.btn-green {
  color: #fff;
  background-color: green;
  border-color: green;
}
.btn-dark a {
  text-decoration: "none";
  color: white !important;
}
.home-container {
  background-color: white;
  width: 100%;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-light{
  text-decoration:none;
  color:black;
  background-color:white !important;
  border:2px solid black !important;
  border-radius:5px !important;
}


.flexbox{
  margin-left:30px;
  display: flex; 
  align-content: space-between;
}
.project-card:hover{
  background-color:rgba(255,255,255,0.9) !important;
  cursor:pointer;
}

Button[disabled]
{
  cursor: not-allowed;
}