.fullWidth{
  width:100%;
}
nav {
  padding: 0px !important;
  border-bottom: 1px solid #e5e9f2 !important;
  flex-shrink: 0;
}
.navbar {
  height: 70px;
  display: flex !important;
  align-items: center;
  margin-bottom: 0px !important;
}
nav img {
  margin-left: 20px;
  margin-right: 20px;
}
nav li a {
  font-size: 19px;
  font-weight: 500;
}
nav ul {
  list-style-type: none;
  padding-left: 0px !important;
}
nav ul li {
  margin-right: 15px;
}
.active {
  font-weight: 600;
}
.save-button {
  background-color: white !important;
  width:90px;
  color:green !important;
  margin-left: auto;
  order: 2;
  border: 2px solid green!important; 
  text-align: center;
  margin-right:10px;
  border-radius: 10px;
}
.project-title{
  margin:auto;
}
.fa-save{
  color:green;
}
.save-button[disabled]
{
  cursor: not-allowed;
}
.custom-form-control{
  margin-right:0px !important;
}
.input-project-name{
  margin-top:20px !important;
}
.custom-form-control:focus {
  border-color: green !important;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.075) inset, 0px 0px 8px rgba(56, 255, 106, 0.5) !important;
}
.fa-check{
  color:green;
}
.navbar-shadow{
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03)
}